<template lang="pug">
v-app
  v-navigation-drawer(v-model='menu', fixed, app)
    v-list(dense)
      v-list-tile(@click="goTo('extract')")
        v-list-tile-action
          v-icon contact_mail
        v-list-tile-content
          v-list-tile-title Extrato
      v-list-tile(@click="goTo('transaction')")
        v-list-tile-action
          v-icon contact_mail
        v-list-tile-content
          v-list-tile-title Transações
  v-toolbar(color='primary', dark, fixed, app)
    v-toolbar-side-icon(@click.stop='menuAction')
    v-toolbar-title Virtual Wallet
  v-content
    v-container.mx-0.my-0(fluid, grid-list-sm)
      v-layout(row wrap)
        v-flex(xs12, sm12, md3)
          v-card(height="180")
            v-card-title(primary-title)
              .subheading Saldo em Reais
            v-card-text.text-xs-right
              .display-1 {{account.real | currency}}
              v-divider
        v-flex(xs12, sm12, md3)
          v-card(height="180")
            v-card-title(primary-title)
              .subheading Saldo em Brita
            v-card-text.text-xs-right
              .display-1 {{account.brita}}
              v-divider
              .subheadline Valor compra: R$ {{brita.valueBuy | currency}}
              .subheadline Valor venda: R$ {{brita.valueSell | currency}}
              .subheadline Total: {{brita.total | currency}}
        v-flex(xs12, sm12, md3)
          v-card(height="180")
            v-card-title(primary-title)
              .subheading Saldo em Bitcoin
            v-card-text.text-xs-right
              .display-1 {{account.bitcoin}}
              v-divider
              .subheadline Valor compra: R$ {{bitcoin.valueBuy | currency}}
              .subheadline Valor venda: R$ {{bitcoin.valueSell | currency}}
              .subheadline Total: R$ {{bitcoin.total | currency}}
      router-view
</template>

<script>
import {localStore} from '@/utils/localStorage'
import {mapState} from 'vuex'

const STORE = 'defaultStore'

export default {
  data: () => ({
    menu: false,
  }),
  computed: {
    ...mapState(STORE, ['account', 'brita', 'bitcoin']),
  },
  mounted() {
    this.$store.dispatch(`${STORE}/getAccount`)
  },
  methods: {
    menuAction() {
      this.menu = !this.menu
      localStore.set('openedMenu', this.menu)
    },
    goTo(route) {
      this.$router.push({name: route})
    },
  },
}
</script>

<style lang="scss" scoped>
.layout-content {
  margin: 10px 10px 0 10px !important;
}
</style>
