$small: 600px;
$medium: 960px;
$large: 1280px;
$xlarge: 1920px;

@mixin on-desktop {
  @include media(min-medium) {
    @content;
  }
}

@mixin on-mobile {
  @include media(max-small) {
    @content;
  }
}

@mixin media($media) {
  @if $media == xsmall {
    @media screen and (max-width: $small) {
      @content;
    }
  }

  @if $media == small {
    @media screen and (min-width: $small) and (max-width: $medium) {
      @content;
    }
  }

  @if $media == medium {
    @media screen and (min-width: $medium) and (max-width: $large) {
      @content;
    }
  }

  @if $media == large {
    @media screen and (min-width: $large) and (max-width: $xlarge) {
      @content;
    }
  }

  @if $media == xlarge {
    @media screen and (min-width: $xlarge) {
      @content;
    }
  }

  @if $media == min-small {
    @media screen and (min-width: $small) {
      @content;
    }
  }

  @if $media == min-medium {
    @media screen and (min-width: $medium) {
      @content;
    }
  }

  @if $media == min-large {
    @media screen and (min-width: $large) {
      @content;
    }
  }

  @if $media == max-small {
    @media screen and (max-width: $medium) {
      @content;
    }
  }

  @if $media == max-medium {
    @media screen and (max-width: $large) {
      @content;
    }
  }

  @if $media == max-large {
    @media screen and (max-width: $xlarge) {
      @content;
    }
  }
}
