$white: #fff;
$gray: #eee;

$primary: #757575;
$secondary: #ffb300;
$accent: #69f0ae;
$error: #e53935;
$info: #2979ff;
$success: #69f0ae;
$warning: #f57f17;

.app {
  background-color: $gray;
}

html,
body,
.layout-container {
  height: 100%;
  min-height: 100%;
}

.layout-container {
  .layout-content {
    padding-top: 64px;
  }
}

.card {
  &.card-color {
    background-color: $white;
  }
}

.md-toolbar {
  &.card {
    &.card-color {
      background-color: $white;
    }
  }
}
