<template lang="pug">
v-card.elevation-5
  v-card-title
    .headline Extratos transações
    v-spacer
  v-data-table(:headers='headers', :items='extractList')
    template(slot='items', slot-scope='props')
      td {{ props.item.date | moment }}
      td.text-xs-left {{ props.item.type | tranlateType}} {{props.item.coin}}
      td.text-xs-left {{ props.item.real | currency}}
      td.text-xs-left {{ props.item.brita }}
      td.text-xs-left {{ props.item.bitcoin }}
    v-alert(slot='no-results', :value='true', color='error', icon='warning')
      span Nenhuma operação registrada
</template>

<script>
import moment from 'moment'
import {ACTIONS} from '@/pages/extract/const'
import {mapState} from 'vuex'

const STORE = 'extract'

export default {
  filters: {
    moment: date => {
      return moment(date).format('DD/MM/YYYY, HH:mm:ss')
    },
    tranlateType: type => {
      if (type === 'buy') return 'Compra'
      else if (type === 'sell') return 'Venda'
      return 'Troca'
    },
  },
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'Data',
          value: 'date',
          align: 'left',
        },
        {
          text: 'Tipo',
          value: 'type',
          align: 'left',
        },
        {
          text: 'R$',
          value: 'real',
          align: 'left',
        },
        {
          text: 'Brita',
          value: 'brita',
          align: 'left',
        },
        {
          text: 'Bitcoin',
          value: 'bitcoin',
          align: 'left',
        },
      ],
    }
  },
  computed: {
    ...mapState(STORE, {
      extractList: 'list',
    }),
  },
  created() {
    this.$store.dispatch(`${STORE}/${ACTIONS.getExtractList}`)
  },
}
</script>
