<template lang="pug">
 v-layout(wrap, row)
  v-flex(xs12)
    v-card.elevation-5
      v-card-title
        .headline Transações
        v-spacer
      v-card-text
        v-form(@submit.stop.prevent)
          v-radio-group(
            v-model="transaction.type",
            row,
            @change="changeEvent('type', $event)"
          )
            v-radio(label="Compra", value="buy")
            v-radio(label="Venda", value="sell")
            v-radio(label="Troca", value="trade")
          v-layout(wrap, row)
            v-flex(xs6, sm12, md3)
              v-select(
                :items="coins",
                v-model="transaction.selectedCoins",
                box,
                label="Moeda",
                @change="changeEvent('selectedCoins', $event)"
              )
            v-flex(xs6, sm12, md3)
              v-text-field(
                name="amountCoins",
                label="Quantidade",
                :value="transaction.amountCoins",
                :error="validations.amountCoins.$showError",
                :error-messages="amountCoinsMessage",
                :placeholder="placeholder",
                box,
                @input="changeEvent('amountCoins', $event)"
              )
      v-card-actions
        v-spacer
        v-btn(
          color="blue",
          :dark="isTransactionValid",
          :disabled="!isTransactionValid",
          @click.native="submitEvent"
        ) {{btnTitle}}
</template>

<script>
import {ACTIONS} from '@/pages/transaction/consts'
import {mapActions, mapState} from 'vuex'

const STORE = 'transaction'

export default {
  computed: {
    ...mapState(STORE, [
      'transaction',
      'coins',
      'validations',
      'isTransactionValid',
    ]),
    isDesktop() {
      return this.$vuetify.breakpoint.mdAndUp
    },
    isMobile() {
      return this.$vuetify.breakpoint.smAndDown
    },
    placeholder() {
      return 'Quantidade de coins'
    },
    btnTitle() {
      let title = 'Comprar'
      if (this.transaction.type === 'sell') title = 'Vender'
      if (this.transaction.type === 'trade') title = 'Trocar'
      return title
    },
    amountCoinsMessage() {
      let message = ''
      if (!this.validations.amountCoins.$showError) return
      const error = this.validations.amountCoins.$errors[0]

      if (error === 'required') {
        message = 'Adicione o numero de coins'
      } else if (error === 'sell') {
        message = 'Quantidade incorreta de coins'
      } else if (error === 'buy') {
        message = 'Saldo insuficiente para compra'
      } else if (error === 'trade') {
        message = 'Numero inválido ou insuficiente de coins para troca'
      }

      return message
    },
  },
  methods: {
    ...mapActions(STORE, {
      saveTransaction: ACTIONS.saveTransaction,
      updateForm: ACTIONS.updateForm,
    }),
    backEvent() {
      const id = this.role.id
      if (id !== '') {
        this.$router.push({name: 'roles-id', params: {id}})
        return
      }
      return this.$router.push({name: 'roles'})
    },
    submitEvent() {
      this.saveTransaction()
    },
    changeEvent(field, value) {
      this.updateForm({
        ...this.data,
        [field]: value,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.icon-desktop {
  margin-top: 20px;
}
.icon-mobile {
  padding: -150px;
}
</style>
