<template lang="pug">
imd-snackbar(
  closeable,
  :color="color",
  :value="active",
  :timeout="timeout",
  @close="closeNotification"
) {{message}}
</template>

<script>
import {mapActions, mapState} from 'vuex'
import {notificationStatus} from '@/store/notification'

export default {
  computed: {
    ...mapState('notification', ['status', 'active', 'timeout', 'message']),
    color() {
      switch (this.status) {
        case notificationStatus.SUCCESS:
          return 'green'
        case notificationStatus.ERROR:
          return 'red'
        case notificationStatus.WARNING:
          return 'blue'
        case notificationStatus.NONE:
          return 'secondary'
        default:
          return 'secondary'
      }
    },
  },

  methods: {
    ...mapActions('notification', ['closeNotification']),
  },
}
</script>
